@import "sass/fonts";
@import "sass/variables";
@import 'bootstrap/scss/bootstrap';
@import "sass/page";

.edit-post-visual-editor {
    .editor-styles-wrapper {
        padding: 0 2rem;
        font-family: $font-family-base;
        background: $secondary_lite;
    
        p,
        li,
        a {
            font-size: $font-size-base;
            font-family: $font-family-base;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
        }
    
        h1 {
            @extend .h1;
        }
    
        h2 {
            @extend .h2;
        }
    
        h3 {
            @extend .h3;
        }
    
        h4 {
            @extend .h4;
        }

        h5 {
            @extend .h5;
        }

        h6 {
            @extend .h6;
        }
        // .wp-block-borghamns-general-content-section {
        //     & > .block-editor-inner-blocks {
        //         @extend .container;

        //         // .block-editor-block-list__layout {
        //         //     @extend .row;
        //         // }
        //     }
        // }
        
    }

}